SPRING_PROFILES_ACTIVE=
SPRING_APPLICATION_NAME=
SPRING_DEVTOOLS_RESTART_ENABLED=
LOGGING_LEVEL_WEB=
SERVER_PORT=
ACTUATOR_INCLUDE_ENDPOINT=
SPRING_DOCKER_COMPOSE_ENABLED=
SPRING_DOCKER_COMPOSE_FILE=
SPRING_DATASOURCE_HIKARI_PREPARE_THRESHOLD=

# Database
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER=

#JWT
JWT_TOKEN_EXPIRED_SECONDS=
JWT_REFRESH_EXPIRED_SECONDS=

#APP
APP_SUMMARY="Sample Summary"

#CORS
CORS_ENABLED=false
CORS_ORIGIN_ALLOWED=
CORS_HEADER_ALLOWED=
CORS_METHOD_ALLOWED=